@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4e4e7;
    font-family: 'Inter', sans-serif;
    overflow: auto;
}

.container {
    display: grid;
    grid-template-rows: 0.8fr 5fr;
    height: 100vh;
    overflow-y: auto;
}

.header {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    height: 5.5rem;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    gap: 40px;
    width: 31%;
    height: 52%;
    margin-top: 0.7rem;
    background-color: #d4d4d8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 0.6s ease;
}

.nav-section svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #333;
    transition: color 0.3s ease;
}

.nav-section p {
    font-weight: 500;
    fill: #333;
    transition: color 0.3s ease;
}

.view {
    padding-left: 20px;
}

.sobre {
    padding-right: 20px;
}

.nav-section.active {
    background-color: black;
    flex-grow: 1;
    border-radius: 60px;
}

.nav-section.active svg {
    fill: white;  
}

.nav-section.active p {
    color: white; 
}

.main-content-home {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.greetings {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    gap: 1rem; 
    margin-bottom: 3.5rem;
}

.greetings img {
    height: 5.5rem;
    width: auto;
}

.greetings p {  
    font-weight: bold;
    font-size: 60px;
    margin: 0;
}

.greetings .bottom-description {
    text-align: center;
    color: #a1a1aa;
    font-size: 16px;
    line-height: 1.5;
}

.my-infos {
    display: flex;
    margin-top: 2rem;
    gap: 30px;
}

.my-infos svg {
    width: 2rem;
    height: 2rem;
}

.button-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    --color: #10b981;
    padding: 0.4em 1.2em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
.button-info::before, .button-info::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button-info::before {
    top: -1em;
    left: -1em;
}

.button-info::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button-info:hover::before, .button-info:hover::after {
    height: 410px;
    width: 410px;
}

.button-info:hover {
    color: rgb(10, 25, 30);
}

.button-info:active {
    filter: brightness(.8);
}

.fade-out {
    opacity: 0;
    transform: scale(0.90);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in {
    opacity: 1;
    transform: scale(0.95);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.main-content-sobre {
    grid-row: 2 / 3;
    display: none;
    grid-template-columns: 5fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-container {
    grid-column: 1 / 2;
    padding: 2.5rem;
    background: white;
    border-radius: 1rem;
    border-left: 5px solid #10b981;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.text-struct h1 {
    font-size: 2.2rem;
    color: #0f172a;
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom: 2px solid #10b981;
    display: inline-block;
    padding-bottom: 4px;
}

.text-struct h2 {
    font-size: 1.6rem;
    color: #0f172a;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.text-struct p {
    font-size: 1rem;
    color: #1e293b;
    line-height: 1.7;
    margin-top: 1rem;
    text-align: justify;
}

.text-struct b {
    color: #10b981;
}

.text-nav {
    grid-column: 2 / 3;
    height: 100%;
}

.text-tracker {
    position: sticky; 
    top: 180px; 
    right: 10px;
    z-index: 1000; 
    width: 250px; 
    padding: 10px;
}

.text-tracker h4 {
    color: #0f172a;   
    font-weight: bold;
}

.text-tracker ul {
    margin-top: 1rem;
    list-style: none;
    padding: 0;
}

.text-tracker li {
    padding: 15px;
    border-left: 2px solid #a1a1aa;
    color: #a1a1aa;
    font-size: 15px;
    cursor: pointer;
}

.text-tracker li:hover, .text-tracker li.active {
    color: #0f172a;
    border-left: 2px solid #10b981;
}

pre {
    margin-top: 1rem;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-size: 1rem;
}

.main-content-view {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    padding: 1rem;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.create {
    margin-bottom: 2rem;
}

.create-button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .create-button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .create-button:active {
    transform: translateY(-1px);
  }

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.primary-array {
    font-size: 1.5rem;
}

.buckets-container {
    display: flex;
    gap: 2rem; 
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 15rem;
}

.bucket {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underscore {
    display: block; 
    width: 4rem;
    height: 0.25rem; 
    background-color: #333;
    border-radius: 0.125rem; 
}

.number {
    font-size: 1.3rem; 
    color: #666;
    margin-top: 0.5rem; 
}

.dialog {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 1000; 
    box-sizing: border-box;
    flex-wrap: wrap;
    overflow-y: auto;
}

.dialog-content {
    background: whitesmoke;
    border-left: 5px solid #0d835bd0;
    padding: 20px;
    margin-bottom: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    text-align: left;
}

.dialog-content label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 1rem;
    color: #1e293b;;
}

.dialog-content h2 {
    color: #0f172a;
    font-weight: bold;
}

.dialog-content input,
.dialog-content textarea,
.dialog-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.dialog-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.dialog-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dialog-buttons button#cancel-dialog {
    background-color: #f44336; 
    color: #fff;
}

.dialog-buttons button#cancel-dialog:hover {
    background-color: #d32f2f;
}

.dialog-buttons button[type="submit"] {
    background-color: #4caf50; 
    color: #fff;
}

.dialog-buttons button[type="submit"]:hover {
    background-color: #388e3c;
}